In [ ]:
print("Hello World")

Hello World

In [ ]:
#VARIABLE - PLACEHOLDER / STORE DATA

message = "Hello World"
print(message)

Hello World

In [ ]:
#by default = string
#DATA TYPES -

# INTEGER = NUMERICAL VALUE = WHOLE NO = 1,2,3....
# FLOAT = DECIMAL = 0.3, 0.5 , 0.8....
# CHARACTER = a,b,c || A,B,C
# STRING = COLLECTION OF CHARACTERS = Python, jupyter
#BOLLEAN = YES OR NO , 0 OR 1

In [ ]:
#CONDITIONAL MAKING STATEMENTS
#IT HELPS US TO MAKE DECISION BASED ON CERTAIN CONDITIONS

#TYPES OF CONDITIONAL STATEMENTS

#1-IF-ELSE
#2- NESTED - IF - STATEMENT
#3 - MATCH CASE STATEMENT

In [ ]:
#IF-ELSE

#IF CONDITION 1 :
      STATEMENT 1
#ELSE :
    STATEMENT 2

In [ ]:
#EXAMPLE - IF-ELSE
i = 5

if (i>15):
  print("20 is less than 15")
else :
  print("stop")

stop

In [ ]:
#NESTED - IF

# IF (CONDITION):
# {
#     IF
#     STATEMENT WILL GET EXECUTED
# }

In [ ]:
#NESTED - IF

# IF (CONDITION):
# {
#     ELIF :
#     STATEMENT WILL GET EXECUTED
      ELIF :
      STATEMENT:
      ELSE :
      STATEMENT :
# }

In [ ]:
value = 30

if value <10 :
  print("value is less than 10")

if value>20:
  print("value ias greater than 20")

value ias greater than 20

In [ ]:
# #FUNCTION = THAT HELPS US TO RE-USE THE SAME PIECE OF CODE AGAIN AND AGAIN WITHOUT EXPLICITLY DEFINITING WHENEVER WE NEED
# WE CALL THE FUNCTION WHENVER WE NEED IT INSTEAD OF MAKING IT SECOND TIME

#ADD

#SUBTRACTION

#MULTIPLICATION

#DIVISION

#ADD - CODE AGAIN? (WITHOUT FUNCTION, AGAIN - MARK)

#ADD - CODE AGAIN? (FUNCTON, ONLY BY THE NAME YOU CAN CALL FUNCTION)

#DIVISON - CALL MY FUNCTION OF DIVISON


#HOW TO INITILAIZE/ MAKE FUNCTION ?

# def functioname

In [ ]:
# def apporv:
#   .......
#   .......
#   logic
#   .......
#   ......

# call apporv

In [ ]:
def add(a,b,c):
  return a+b+c

result = add (5,3,2)
print(result)

10

In [ ]:
#SWITCH CASE

def number(a):
  match a :
    case 0 :
      return "zero"
    case 1:
      return "one"
    case 2:
      return "two"
    case default :
      return "defaultstatement"

head = number(5)
print(head)

defaultstatement

In [ ]:
# IF-ELIF-ELSE

IF
{
# IF CONDITION 1 :
#     PRINT(STATEMENT)
# ELIF :
#     PRINT
# ELIF :
#     PRINT()
# ELSE :
#   PRINT()
}

In [ ]:
#HOMEWORK

# 3 QUESTIONS OF CONDITIONAL STATEMENTS
# 3 QUESTIONS OF FUNCTIONS

In [ ]:
#LOOPS IN PYTHON

#THREE CATEGORIES :

#FOR LOOP
#DO WHILE LOOP
#WHILE LOOP

In [ ]:
#FOR LOOP # known - sequence by the help of range functions

# range(1,11) (X,Y) -> X= INCLUSIVE, Y=>EXCLUSIVE
# 1
# 2
# 3
# 4
# 5
# 6
# 7
# 8
# 9
# 10

# range(0,12,2)

# 0
# 2
# 4
# 6
# 8
# 10

for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
l=["python", "machine learning", "AI"]

for i in l :
  print(i)

python
machine learning
AI

In [ ]:
#DIFFERENCE BETWEEN WHILE LOOP AND DO WHILE LOOP

#WHILE LOOP = IT EXECUTE AS LONG AS THE CONDITION IS TRUE / THE NO OF EXECUTION OF INTERATION IS NOT KNOWN TO US BEFOREHEAD
i=1
while i<=5:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
#DO WHILE LOOP - EXECUTE ATLEAST ONCE BEFORE CHECKING

int i = 10
do
{
    while
    print
    i++
    while
}

In [ ]:
#DO WHILE LOOP

i = 1

while True :
  print(i)
  i=i+1
  if(i>5):
    break

1
2
3
4
5

In [ ]:
while True :
  user
  num1 = int(user_input)

if