### <u>Practise Questions On Loops</u1>

In [ ]:
#1) Print numbers from 1 to 10 using for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2)Calculate the sum of numbers from 1 to 10

sum_num = 0
for numbers in range(1,11):
  sum_num+=numbers
  print(sum_num)

1
3
6
10
15
21
28
36
45
55

In [ ]:
#3)Print elements of a list using for loop:

list = [0,1,2,3,4,5]
for values in list:
  print(values)

0
1
2
3
4
5

In [ ]:
#4) Calculate the product of elements in a list using for loop

list = [1,2,3,4]
product = 2
for i in list:
  product*=i
  print(product)

2
4
12
48

In [ ]:
#5)Print even numbers from 1 to 10 using for loop

for num in range(2,11,2):
  print(num)

2
4
6
8
10

In [ ]:
#6)Print numbers in reverse form from 10 to 1 using for loop

for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#7)Print characters of a string using for loop

str = "Hi, How r u"
for char in str:
  print(char)

H
i
,

H
o
w

r

u

In [ ]:
#8)Find the largest number in a list using for loop.

my_list = [2,5,4,9,11]
largest = my_list[0]
for num in my_list:
  if num > largest:
    largest = num
print(largest)

11

In [ ]:
#9)Find the average of numbers in a list using a for loop

list = [4,7,9,2,5]
total = 0
for num in list:
  total += num
average = total / len(list)
print(average)

5.4

In [ ]:
#10)Print all uppercase letters using for loop

str = "patrCIA"
for char in str:
  if char.isupper():
    print(char)

C
I
A

In [ ]:
#11)Count the number of vowels in a string using for loop

str = "Patricia"
vowels = "AEIOUaeiou"
count = 0
for char in str:
  if char in vowels:
    count += 1
print(count)

4

In [ ]:
#12) Print pattern of star using nested for loop

for i in range(5):
  for j in range(i+1):
    print("*", end="")
  print()

*
**
***
****
*****

In [ ]:
#13)Calculate factorial of a number using while loop

num = 7
factorial = 1
while num > 0:
  factorial *= num
  num -=1
print(factorial)

5040

In [ ]:
#13a)Calculate factorial of a number by user input

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number:"))
result= factorial(num)
print(f"The factorial of {num} is {result}")

Enter a number:4
The factorial of 4 is 24

In [ ]:
#14)Find the first occurrence of a number in a list using a while loop

list = [3,8,2,7,4]
target = 7
index = 0
while index < len(list):
  if list[index] == target:
          break
  index += 1
else:
  index = -1

print(index)

3

In [ ]:
#15)Calculate the sum of numbers from 1 to 100 using while loop

num = 1
sum_num = 0
while num <= 100:
  sum_num += num
  num += 1
print(sum_num)

5050

In [ ]:
#16)Find all prime numbers between 1 to 50 using while loop

num = 2
while num <= 50:
  is_prime = True
  i = 2
  while i < num:
    if num % i == 0:
      is_prime = False
      break
    i += 1
  if is_prime:
    print(num)
  num += 1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#16a)Find all prime numbers between 1 to 50 using nested for and if:

for num in range(2, 51):
 # is_prime = True
  for i in range(2, num):
    if num % i == 0:
  #    is_prime = False
      break
  #if is_prime:
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#17)Print numbers divisible by 3 or 5 from 1 to 20 using a for loop

for num in range(1,21):
  if num % 3 == 0 or num % 5 == 0:
    print(num)

3
5
6
9
10
12
15
18
20

In [ ]:
#18)Print a list of squares of numbers from 1 to 5 usig a list comprehension

squares = [num**2 for num in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#19)Print the Fibnacci sequence up to the 10th term using a while loop

a, b = 0, 1
while b < 10:
  print(b)
  a, b = b, a+b

1
1
2
3
5
8

In [ ]:
#20)Find the common element in two lists using a for loop

list1 = [1,2,3,4,5]
list2 = [2,3,4,6,8,10]
for num in list1:
  if num in list2:
    print(num)

2
3
4

### <u>Examples on Polymorphism</u>

In [ ]:
print(len("Programiz"))
print(len(["Python", "Java", "C"]))
print(len({"Name": "John", "Address": "Nepal"}))

9
3
2

In [ ]:
str1 = "Python"
str2 = "Programming"
print(str1+" "+str2)

Python Programming

In [ ]:
a = 10
b = 20
print('Addition of 2 numbers:', a + b)

str1 = 'Hello '
str2 = 'Python'
print('Concatenation of 2 strings:', str1 + str2)

list1 = [1, 2, 3]
list2 = ['A', 'B']
print('Concatenation of 2 lists:', list1 + list2)

Addition of 2 numbers: 30
Concatenation of 2 strings: Hello Python
Concatenation of 2 lists: [1, 2, 3, 'A', 'B']

In [ ]:
a = 10
b = 5
print('Multiplication of 2 numbers:', a * b)

num = 3
mystr = 'Python'
print('Multiplication of string:', num * mystr)

Multiplication of 2 numbers: 50
Multiplication of string: PythonPythonPython

In [ ]:
class Human1:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"My name is {self.name}. I am {self.age} years old.")

    def make_greeting(self):
        print("Hi")


class Human2:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def info(self):
        print(f"My name is {self.name}. I am {self.age} years old.")

    def make_greeting(self):
        print("Hello")


str1 = Human1("John", 25)
str2 = Human2("Jasmine",20)

for human_being in (str1, str2):
    human_being.make_greeting()
    human_being.info()
    human_being.make_greeting()

Hi
My name is John. I am 25 years old.
Hi
Hello
My name is Jasmine. I am 20 years old.
Hello

In [ ]:
class India():
    def capital(self):
        print("New Delhi is the capital of India.")

    def language(self):
        print("Hindi is the most widely spoken language of India.")

    def type(self):
        print("India is a developing country.")

class USA():
    def capital(self):
        print("Washington, D.C. is the capital of USA.")

    def language(self):
        print("English is the primary language of USA.")

    def type(self):
        print("USA is a developed country.")

def func(obj):
	obj.capital()
	obj.language()
	obj.type()

obj_ind = India()
obj_usa = USA()

func(obj_ind)
func(obj_usa)

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

### <u>Examples on Encapsulation</u>

<b>WHY DO WE NEED ENCAPSULATION IN PYTHON?<br></b>
Encapsulation in Python is essential for several reasons like it protects the internal data of a class from unauthorized access and modification.

In [ ]:
class BankAccount:

    def __init__(self, account_number):
        self._account_number = account_number  # Protected attribute

    def __validate_pin(self, pin):
        return len(str(pin)) == 4

#In this encapsulation example in Python, the _account_number attribute is protected and prevents direct modification from outside the class.

In [ ]:
class BankAccount:

    def __init__(self, account_number):
        self.__account_number = account_number  # Private attribute

    def __validate_pin(self, pin):
        return len(str(pin)) == 4


# Creating an instance of the class
account = BankAccount("12345")

# Accessing protected attribute
print(account._BankAccount__account_number)


# Accessing private method
print(account._BankAccount__validate_pin(1234))

12345
True

In [ ]:
class Student:

    def __init__(self, name, age, grade):
        self._name = name  # Protected attribute
        self._age = age    # Protected attribute
        self._grade = grade  # Protected attribute

    # Getter method
    def get_name(self):
        return self._name

    def get_age(self):
        return self._age

    # Setter method
    def set_grade(self, grade):
        if 0 <= grade <= 100:
            self._grade = grade

# Create a Student object
student1 = Student("Alice", 18, 90)

# Accessing attributes through methods
print(student1.get_name())
print(student1.get_age())

# Modifying attributes through methods
student1.set_grade(95)

Alice
18

In [ ]:
class Employee:
    # constructor
    def __init__(self, name, salary, project):
        # data members
        self.name = name
        self.salary = salary
        self.project = project

    # method
    # to display employee's details
    def show(self):
        # accessing public data member
        print("Name: ", self.name, 'Salary:', self.salary)

    # method
    def work(self):
        print(self.name, 'is working on', self.project)

# creating object of a class
emp = Employee('Jessa', 8000, 'NLP')

# calling public method of the class
emp.show()
emp.work()

Name:  Jessa Salary: 8000
Jessa is working on NLP

### <u>Conditional Statements</u>

If - else statement

In [ ]:
age = int(input("Enter your age:"))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age:15
You are not eligible to vote.

In [ ]:
grade = 80
if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
else:
    print("F")

B

In [ ]:
num = int(input("enter the number:"))
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

enter the number:10
The number is even

Nested - If statements

In [ ]:
number = -5

# outer if statement
if number >= 0:
    # inner if statement
    if number == 0:
      print('Number is 0')

    # inner else statement
    else:
        print('Number is positive')

# outer else statement
else:
    print('Number is negative')

Number is negative

In [ ]:
num = 21

# if statement with true condition
if num < 10:
    print(f"{num} is less than 10")

# if statement with false condition
if num > 20:
    print(f"{num} is greater than 20")

21 is greater than 20